#include "resource.h"
#include "afxres.h"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 400, 310
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "GenMotion MFC Demo"
FONT 9, "Microsoft Sans Serif", 0, 0, 0x0
BEGIN
    GROUPBOX        "Controller",IDC_STATIC,10,10,380,50
    PUSHBUTTON      "Open",IDC_BTN_OPEN,20,25,60,25
    PUSHBUTTON      "Close",IDC_BTN_CLOSE,90,25,60,25
    PUSHBUTTON      "Ecat Load",IDC_BTN_ECAT_LOAD,160,25,70,25
    PUSHBUTTON      "Ecat Start",IDC_BTN_ECAT_START,240,25,70,25

    GROUPBOX        "Axis",IDC_STATIC,10,65,380,50
    COMBOBOX        IDC_CMB_AXIS,20,82,100,100,CBS_DROPDOWNLIST | WS_TABSTOP
    PUSHBUTTON      "Axis On",IDC_BTN_AXIS_ON,140,82,70,25
    PUSHBUTTON      "Axis Off",IDC_BTN_AXIS_OFF,220,82,70,25

    GROUPBOX        "Jog Motion",IDC_STATIC,10,120,380,110
    LTEXT           "Velocity:",IDC_STATIC,20,138,40,10
    EDITTEXT        IDC_EDIT_VEL,70,135,80,16,ES_AUTOHSCROLL
    LTEXT           "Acc:",IDC_STATIC,20,158,40,10
    EDITTEXT        IDC_EDIT_ACC,70,155,80,16,ES_AUTOHSCROLL
    LTEXT           "Dec:",IDC_STATIC,20,178,40,10
    EDITTEXT        IDC_EDIT_DEC,70,175,80,16,ES_AUTOHSCROLL
    PUSHBUTTON      "Jog +",IDC_BTN_JOG_P,180,135,80,25
    PUSHBUTTON      "Jog -",IDC_BTN_JOG_N,180,165,80,25
    PUSHBUTTON      "Stop",IDC_BTN_STOP,270,135,80,50

    GROUPBOX        "Point to Point",IDC_STATIC,10,235,380,50
    LTEXT           "Position:",IDC_STATIC,20,253,40,10
    EDITTEXT        IDC_EDIT_POS,70,250,100,16,ES_AUTOHSCROLL
    PUSHBUTTON      "Absolute Move",IDC_BTN_POINT_MOVE,200,248,100,25

    LTEXT           "Status:",IDC_STATIC,10,295,30,10
    LTEXT           "",IDC_ST_STATUS,45,295,340,10
END
